.container{
    width:250px;
    height: 240px;
    border: 1px solid #010505;
    margin: 0 auto;
    padding: 15px;
    background-color:darkolivegreen;
    border-radius: 14px;
    color: white;
    margin-top: 200px;
}
.attribution{
    text-align:center;
}
#rating , #msg{
    font-size:20px;
    text-align:center;
}
body{
    background-color:hsl(180, 23%, 12%);
    color:antiquewhite
}

button{
    border-radius: 14px;
}
p{
    font-size: 13px;
}

.stars-span{
    margin-left:30px;
    padding:15px;
}
.stars-span i:hover{
    color: orangered;
}



.submit{
    width: 220px;
    margin-top: 19px;
    text-transform:uppercase; 
    padding:5px;
    background-color:yellow;
}
img{
    border:1px solid grey;
    border-radius: 14px;
    width:16px;

}
.submit:hover{
    color: orangered;
    background-color:seashell

}